@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
:root {
  --font-family: "Fraunces ", sans-serif;
  --second-family: "Barlow", sans-serif;
  --third-family: "Fraunces", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* height: 100%; */
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #fefcf7;
  --second-family: "Barlow", sans-serif;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  max-width: 1328px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.hero {
  padding-top: 40px;
  padding-bottom: 120px;
}

.hero__title {
  font-weight: 900;
  font-size: 40px;
  line-height: 100%;
  color: #fefcf7;
  margin-bottom: 24px;
}

.hero__block {
  background-image: url("../img/hero-mob.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 104px 24px;
  border-radius: 10px;
  text-align: center;
}

.hero__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  color: #fefcf7;
  opacity: 0.8;
  margin-bottom: 39px;
}

.hero__btn {
  font-weight: 900;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  color: #fefcf7;
  padding: 15px 31px;
  border-radius: 6px;
  background-color: #0e8784;
  border: none;
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 43px;
    padding-bottom: 136px;
  }
  .hero__title {
    font-size: 48px;
    line-height: 100%;
    width: 329px;
  }
  .hero__block {
    background-image: url("../img/hero-plansh.jpg");
    padding: 104px 58px;
    text-align: start;
  }
  .hero__text {
    font-size: 15px;
    line-height: 167%;
    width: 398px;
  }
}
@media screen and (min-width: 992px) {
  .hero {
    padding-top: 40px;
    padding-bottom: 120px;
  }
  .hero__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 100%;
    color: #fefcf7;
    width: 493px;
  }
  .hero__text {
    font-size: 16px;
    line-height: 162%;
    width: 445px;
  }
  .hero__block {
    background-image: url("../img/hero-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 117px 85px;
    border-radius: 10px;
    text-align: start;
  }
}
.main {
  padding: 40px 0px;
}

.main__logo {
  width: 163px;
  height: 18px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main__btn {
  background-image: url("../img/button.svg");
  width: 16px;
  height: 15px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}

.main_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__link {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #83888f;
}

.main__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 40px 0px;
  }
  .main__logo {
    width: 263px;
    height: 26px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .main__btn {
    display: none;
  }
  .main_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 33px;
  }
}
.collec {
  background-image: url("../img/collec.png");
  padding: 98px 47px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: top;
}

.collec__item {
  text-align: center;
}

.collec__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 133%;
  color: #333d4b;
  margin-bottom: 16px;
}

.collec__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 167%;
  text-align: center;
  color: #333d4b;
}

/* @media screen and (min-width: 520px) {
    .collec {
        background-image: url("../img/collec.png");
        padding: 98px 47px;
        background-repeat: no-repeat;
        background-size: contain;
    }
} */
@media screen and (min-width: 768px) {
  .collec {
    padding: 68px 40px;
    background-image: url("../img/collec.svg");
  }
  .collec__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: start;
    gap: 32px;
  }
  .collec__text {
    font-size: 15px;
    line-height: 167%;
    text-align: start;
  }
  .collec__insed {
    text-align: start;
  }
}
@media screen and (min-width: 1000px) {
  .coolec__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  .collec__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .collec__text {
    text-align: center;
  }
}
.choose {
  padding: 120px 0;
}

.choose__block {
  padding: 67px 24px 24px 24px;
  background-color: #2c343e;
  border-radius: 10px;
  position: relative;
}
.choose__block::after {
  content: "";
  position: absolute;
  height: 600px;
  left: 0;
  right: 0;
  background-color: #2c343e;
  z-index: -1;
  border-radius: 10px;
}

.choose__title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 28px;
  line-height: 100%;
  text-align: center;
  color: #fefcf7;
  margin-bottom: 30px;
}

.shoose__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  text-align: center;
  color: #fefcf7;
}

.choose__subtitle {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 24px;
  line-height: 133%;
  color: #fefcf7;
  margin-bottom: 24px;
}

.choose__desc {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  color: #fefcf7;
}

.choose__item {
  border-radius: 8px;
  background-color: #0e8784;
  padding: 72px 33px 51px 33px;
  text-align: center;
  margin-bottom: 30px;
}
.choose__item::before {
  content: "";
  display: inline-block;
  width: 72px;
  height: 72px;
  background-image: url("../img/cofee.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 56px;
}

.choose__list {
  padding: 24px;
}

@media screen and (min-width: 768px) {
  .choose__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 55px;
  }
  .choose__item::before {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-bottom: 0;
  }
  .choose__content {
    text-align: start;
  }
  .choose__block::after {
    height: 418px;
  }
  .choose__list {
    padding: 57px;
  }
}
@media screen and (min-width: 1100px) {
  .choose__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 85px;
  }
  .choose__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .choose__content {
    text-align: center;
  }
  .choose__block::after {
    height: 311px;
  }
  .shoose__text {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}
.work {
  padding-bottom: 120px;
}

.works__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #83888f;
  margin-bottom: 80px;
}

.works__subtitle {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 28px;
  line-height: 114%;
  color: #333d4b;
  margin-bottom: 24px;
}

.works__desc {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 167%;
  color: #333d4b;
}

.works__item {
  text-align: center;
  margin-bottom: 56px;
}
.works__item::before {
  content: "01";
  margin-bottom: 24px;
  display: inline-block;
  font-weight: 900;
  font-size: 72px;
  line-height: 100%;
  color: #fdd6ba;
}

.works__btn {
  font-weight: 900;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  color: #fefcf7;
  padding: 16px 31px;
  background-color: #0e8784;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}
.works__btn:hover {
  background-color: #66d2cf;
}

.works__line_block {
  display: none;
}

.works__line_item {
  width: 31px;
  height: 31px;
  border-radius: 100%;
  border: 2px solid #0e8784;
  background-color: #fefcf7;
}

.works__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 467px;
  height: 2px;
  background-color: #fdd6ba;
}

@media screen and (min-width: 768px) {
  .works__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .works__line_block {
    display: inline-block;
    margin-bottom: 48px;
  }
  .works__title {
    text-align: start;
  }
  .works__item {
    text-align: start;
  }
  .works__btn {
    display: inline-block;
    text-align: start;
  }
}
@media screen and (min-width: 1100px) {
  .works__list {
    gap: 95px;
  }
  .works__line {
    width: 760px;
  }
  .works__desc {
    width: 285px;
  }
  .works__subtitle {
    width: 245px;
  }
}
.footer {
  padding-bottom: 54px;
}

.footer__blok {
  background-color: #2c343e;
  padding: 54px;
}

.footer__link {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #83888f;
}

.footer__item {
  text-align: center;
  margin-bottom: 24px;
}

.footer__logo {
  margin-bottom: 30px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 33px;
    margin-bottom: 65px;
  }
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1100px) {
  .footer__blok {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 47px;
    padding: 47px 85px;
  }
  .footer__list {
    margin-bottom: 0;
  }
  .footer__logo {
    margin-bottom: 0;
  }
  .footer__item {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */